<!--
  Copyright 2021 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "header"}}
  <header class="go-Header{{if .AllowWideContent}} go-Header--full{{end}} js-siteHeader">
    <div class="go-Header-inner go-Header-inner--dark">
      <nav class="go-Header-nav">
        <a href="/" class="js-headerLogo" data-gtmc="nav link"
            data-test-id="go-header-logo-link" role="heading" aria-level="1">
          <img class="go-Header-logo" src="/static/shared/logo/go-white.svg" alt="Lyuba">
        </a>
         <div class="skip-navigation-wrapper">
            <a class="skip-to-content-link" aria-label="Aller au contenu" href="#main-content"> Aller au contenu </a>
          </div>
        <div class="go-Header-rightContent">
          {{template "symbol_search_bar" .}}
          <ul class="go-Header-menu">
            <li class="go-Header-menuItem">
              <a href="https://github.com/GlazKrovi/lyuba/blob/main/docs/specs.md" data-gtmc="nav link">Spécification</a>
            </li>
            <li class="go-Header-menuItem">
              <a href="/install" data-gtmc="nav link">Installer</a>
            </li>
            <li class="go-Header-menuItem go-Header-menuItem--active">
              <a href="/" data-gtmc="nav link">Packages</a>
            </li>
            <li class="go-Header-menuItem">
              <a href="https://github.com/GlazKrovi/lyuba" data-gtmc="nav link">Code source</a>
            </li>
          </ul>
          <button class="go-Header-navOpen js-headerMenuButton go-Header-navOpen--white" data-gtmc="nav button" aria-label="Ouvrir la navigation">
          </button>
        </div>
      </nav>
    </div>
  </header>
  <aside class="go-NavigationDrawer js-header">
    <nav class="go-NavigationDrawer-nav">
      <div class="go-NavigationDrawer-header">
        <a href="/">
          <img class="go-NavigationDrawer-logo" src="/static/shared/logo/go-blue.svg" alt="Lyuba">
        </a>
      </div>
      <ul class="go-NavigationDrawer-list">
        <li class="go-NavigationDrawer-listItem">
          <a href="https://github.com/GlazKrovi/lyuba/blob/main/docs/specs.md">Spécification</a>
        </li>
        <li class="go-NavigationDrawer-listItem">
          <a href="/install">Installer</a>
        </li>
        <li class="go-NavigationDrawer-listItem go-NavigationDrawer-listItem--active">
          <a href="/">Packages</a>
        </li>
        <li class="go-NavigationDrawer-listItem">
          <a href="https://github.com/GlazKrovi/lyuba">Code source</a>
        </li>
      </ul>
    </nav>
  </aside>
  <div class="go-NavigationDrawer-scrim js-scrim" role="presentation"></div>
{{end}}

{{define "symbol_search_bar"}}
<div class="go-SearchForm js-searchForm">
  <form
    class="go-InputGroup go-ShortcutKey go-SearchForm-form"
    action="/search"
    data-shortcut="/"
    data-shortcut-alt="search"
    data-gtmc="search form"
    aria-label="Chercher un package"
    role="search"
  >
    <input name="q" class="go-Input js-searchFocus" aria-label="Chercher un package" type="search"
        autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"
        placeholder="{{.SearchPrompt}}"
        value="{{.Query}}" />
    <input name="m" value="{{.SearchMode}}" hidden>
    <button class="go-Button go-Button--inverted" aria-label="Chercher">
      <img
        class="go-Icon"
        height="24"
        width="24"
        src="/static/shared/icon/search_gm_grey_24dp.svg"
        alt=""
      />
    </button>
  </form>
  <button class="go-SearchForm-expandSearch js-expandSearch" data-gtmc="nav button"
      aria-label="Ouvrir la recherche" data-test-id="expand-search">
    <img class="go-Icon go-Icon--inverted" height="24" width="24"
        src="/static/shared/icon/search_gm_grey_24dp.svg" alt="">

  </button>
</div>
{{end}}
