<!--
  Copyright 2021 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "footer"}}
  <footer class="go-Footer">
    {{block "pre-footer" .}}{{end}}
    <div class="go-Footer-links">
      <div class="go-Footer-linkColumn">
        <span class="go-Footer-link go-Footer-link--primary">Lyuba</span>
        <a href="https://github.com/GlazKrovi/lyuba/blob/main/docs/specs.md" class="go-Footer-link" data-gtmc="footer link">Specification</a>
        <a href="https://github.com/GlazKrovi/lyuba/tree/main/testdata/example" class="go-Footer-link" data-gtmc="footer link">Examples</a>
        <a href="/install" class="go-Footer-link" data-gtmc="footer link">Install</a>
        <a href="/why" class="go-Footer-link" data-gtmc="footer link">Why Lyuba</a>
      </div>
      <div class="go-Footer-linkColumn">
        <span class="go-Footer-link go-Footer-link--primary">Packages</span>
        <a href="/" class="go-Footer-link" data-gtmc="footer link">All packages</a>
        <a href="/search" class="go-Footer-link" data-gtmc="footer link">Search</a>
        <a href="/api" class="go-Footer-link" data-gtmc="footer link">API</a>
      </div>
      <div class="go-Footer-linkColumn">
        <span class="go-Footer-link go-Footer-link--primary">Project</span>
        <a href="https://github.com/GlazKrovi/lyuba" class="go-Footer-link" data-gtmc="footer link">lyuba</a>
        <a href="https://github.com/GlazKrovi/vscode-lyuba" class="go-Footer-link" data-gtmc="footer link">vscode-lyuba</a>
        <a href="https://github.com/GlazKrovi/pkgsite" class="go-Footer-link" data-gtmc="footer link">This site (a pkgsite fork)</a>
      </div>
    </div>
    <div class="go-Footer-bottom">
<ul class="go-Footer-listRow">
        <li class="go-Footer-listItem">
          <a href="https://github.com/GlazKrovi/lyuba/blob/main/LICENSE" data-gtmc="footer link">BSD-3-Clause license</a>
        </li>
        <li class="go-Footer-listItem">
          <a href="https://github.com/GlazKrovi/pkgsite/issues" target="_blank" rel="noopener" data-gtmc="footer link">Report an issue</a>
        </li>
        <li class="go-Footer-listItem">
          <button class="go-Button go-Button--text go-Footer-toggleTheme js-toggleTheme" aria-label="Theme Toggle">
            <img data-value="auto" class="go-Icon go-Icon--inverted" height="24" width="24" src="/static/shared/icon/brightness_6_gm_grey_24dp.svg" alt="System theme">
            <img data-value="dark" class="go-Icon go-Icon--inverted" height="24" width="24" src="/static/shared/icon/brightness_2_gm_grey_24dp.svg" alt="Dark theme">
            <img data-value="light" class="go-Icon go-Icon--inverted" height="24" width="24" src="/static/shared/icon/light_mode_gm_grey_24dp.svg" alt="Light theme">
            <p> Theme </p>
          </button>
        </li>
        <li class="go-Footer-listItem">
          <button class="go-Button go-Button--text go-Footer-keyboard js-openShortcuts" aria-label="Shorcuts Modal">
            <img class="go-Icon go-Icon--inverted" height="24" width="24" src="/static/shared/icon/keyboard_grey_24dp.svg" alt="">
            <p> Shortcuts </p>
          </button>
        </li>
      </ul>
    </div>
  </footer>
{{end}}
